.logout{
  color: white;
  position: relative;
  font-size: 2.5rem;
  right: 15rem;
  bottom: 1.2rem;
  cursor: pointer;
  margin:0 auto;
}

.logout__btn{
  cursor: pointer;
  text-align: center;
  margin:0 auto;
  display: flex;
  justify-content: center;
}